{% extends 'layouts/base_projet.html' %}
{%load static%}

{% block stylesheets %}
<style>
    .c-brand {
        margin-left:5px;
        
      }
      .c-brand  {
        -webkit-transform: rotateY(0deg);
                transform: rotateY(0deg);
        opacity: 1;
      }
      .c-brand {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
      }
      .c-brand  {
        background: linear-gradient(-135deg, #1de9b6 0%, #1dc4e9 100%);
        border-radius: 10px;
        width: 35px;
        height: 35px;
        display: -webkit-inline-box;
        display: -ms-inline-flexbox;
        display: inline-flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
      }

</style>

{% endblock stylesheets %}
{% block content %}


 <!-- [ navigation menu ] start -->

 <div class="collapse" id="navbarToggleExternalContent">
    <div class="bg-dark p-4">
      <h5 class="text-white h4">Collapsed content</h5>
      <span class="text-body-secondary">Toggleable via the navbar brand.</span>
    </div>
  </div>
  <nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </nav>
<nav class="pcoded-navbar">
  <div class="navbar-wrapper">
      <div class="navbar-brand header-logo">
          <img src="{% static 'assets\images\logo IAI.png'%}   " class="c-brand"  alt ="iailogo" />
              <div class="b-bg">
                  
              </div>
            <a href="{% url 'daf' %}" url='daf' class="nav-link "> <span class="b-title">Directeur Finances</span></a>
          
          <a class="mobile-menu" id="mobile-collapse" href="javascript:"><span></span></a>
      </div>
      <div class="navbar-content scroll-div">
          <ul class="nav pcoded-inner-navbar">
              <li class="nav-item pcoded-menu-caption">
                  <label>Navigation</label>
              </li>
              <li data-username="Inscription Default Ecommerce CRM Analytics Crypto Project" 
                  class="nav-item {% if 'index' in segment %} active {% endif %}">
                  <a href="{% url 'parametrage' %}" url='parametrage' class="nav-link "><span class="pcoded-micon"><i class="feather icon-home"></i></span><span
                          class="pcoded-mtext">Gestion des frais d'inscription et de scolarité</span></a>
              </li>
              <li data-username="Gestion des notes" 
                  class="nav-item {% if 'profile' in segment %} active {% endif %}">
                  <a href="{% url 'paiement' %}" url='paiement' class="nav-link ">
                      <span class="pcoded-micon"><i class="feather icon-user"></i></span>
                          <span class="pcoded-mtext">Gestion des vacations</span></a>
              </li>  
              
              <li data-username="Disabled Menu" class="nav-item">
                <a href="{% url 'logout' %}" class="nav-link">
                    <span class="pcoded-micon"><i class="feather icon-power"></i></span><span class="pcoded-mtext">Se deconnecter</span>
                </a>
            </li>
             
          </ul>
      </div>
  </div>
</nav>
<!-- [ navigation menu ] end -->


{% endblock %}
