{% extends 'layouts/base_projet.html' %}
{% load static %}


{% block content %}

<form method="post" >
  {% csrf_token %}
 
  <div class="form-group">
    <label for="{{ form.nom.id_for_label }}">Nom</label>
    {{ form.nom }}
</div>
<div class="form-group">
  <label for="{{ form.prenoms.id_for_label }}">Prénom</label>
  {{ form.prenoms }}
</div>
<div class="form-group">
  <label for="cycle">Cycle :</label>

  {{ form.cycle }}
</div>
<div class="form-group">
  <label for="filiere">Filière :</label>
  
  {{ form.filiere }}
</div>
  
<div class="form-group">
  <label for="classe">Classe :</label>
 
  {{ form.classe }}
</div>

<input type="submit" value="S'inscrire">
</form>
<script src="{% static 'assets/js/liste_filiere.js' %}"></script>

<script src="{% static 'assets/js/liste_classe.js' %}"></script>
{% endblock  %}
