{% extends 'layouts/base_projet.html' %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <h1 class="text-center">Espace secrétaire</h1>
        <hr>
        <div class="list-group">
          <button onclick="location.href='{% url 'inscrire_eleve' %}'">Inscrire un élève</button>
          <a href="#" class="list-group-item list-group-item-action">Effectuer un paiement</a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
