{% extends 'layouts/base_projet.html' %}

{% block stylesheets %}
<style>
    body {
        background-color: white;
    }

    .receipt {
        text-align: center;
        margin: auto;
        width: 50%;
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-family: Arial, sans-serif;
        background-color: white;
    }

    .logo {
        max-width: 100px;
        margin: 20px 0 10px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .school-name {
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 5px;
        text-align: center;
    }

    .receipt-title {
        font-size: 16px;
        margin-bottom: 15px;
        text-align: center;
    }

    .information {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 10px;
    }

    .label {
        font-weight: bold;
        text-align: left;
    }

    .value {
        text-align: right;
    }

    .footer {
        margin-top: 20px;
        text-align: left;
    }

    .contact-info {
        font-size: 12px;
        text-align: left;
    }

    .print-button {
        margin-top: 20px;
    }
</style>
{% endblock stylesheets %}

{% block content %}
{% load static %}

<div class="receipt">
    <div class="header">
        <img src="{% static 'assets\images\logo IAI.png' %}" class="logo" alt="Logo de l'école">
        <h3 class="school-name">Institut Africain d'Informatique</h3>
    </div>

    <h3 class="receipt-title">Reçu de paiement</h3>

    <div class="information">
        <span class="label">Étudiant:</span>
        <span class="value">{{ etudiant.nom }} {{ etudiant.prenoms }}</span>
    </div>

    <div class="information">
        <span class="label">Classe:</span>
        <span class="value">{{ classe.nom }}</span>
    </div>

    <div class="information">
        <span class="label">Frais de scolarité:</span>
        <span class="value">{{ classe.frais_scolarite }}</span>
    </div>

    <div class="information">
        <span class="label">Montant payé:</span>
        <span class="value">{{ paiement.montant_paye }}</span>
    </div>

    <div class="information">
        <span class="label">Total payé:</span>
        <span class="value">{{ total_paye }}</span>
    </div>

    <div class="information">
        <span class="label">Reste à payer:</span>
        <span class="value">{{ reste_payer }}</span>
    </div>

    <div class="footer">
        <p class="contact-info">Contactez-nous au 00241 77 70 55 00 pour toute assistance.</p>
    </div>

    <button class="print-button" onclick="window.print()">Imprimer</button>
</div>

{% include 'includes/sidebar_secretaire.html' %}
{% endblock content %}
