{% extends 'layouts/base_projet.html' %}

{% block stylesheets %}
    <!-- Ajoutez ici vos liens vers les fichiers CSS spécifiques si nécessaire -->
{% endblock stylesheets %}

{% block content %}
    <div class="pcoded-main-container">
        <div class="pcoded-wrapper">
            <div class="pcoded-content">
                <div class="pcoded-inner-content">
                    <div class="main-body">
                        <div class="page-wrapper">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="card">
                                        <div class="card-header">
                                            <h5>Liste des enseignants vacataires et frais totaux de vacations</h5>
                                        </div>
                                        <div class="card-body">
                                            <table class="table">
                                                <thead>
                                                    <tr>
                                                        <th>Prénom</th>
                                                        <th>Nom</th>
                                                        <th>Frais vacations</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {% for enseignant, frais_total in frais_enseignants %}
                                                        <tr>
                                                            <td>{{ enseignant.first_name }}</td>
                                                            <td>{{ enseignant.last_name }}</td>
                                                            <td>{{ frais_total }}</td>
                                                        </tr>
                                                    {% endfor %}
                                                </tbody>
                                            </table>
                                            <h6>Total des frais de vacations : {{ total_frais }}</h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
